@model $customNamespace$.UI.Web.Models.baseViewModel
           
@*	
<table class="ui-widget-content ui-corner-all">
		<thead class="ui-widget-header">
			<tr>
				<th>@Html.ResourceTexts().ResourceTextsUserAdmin.ManagePassword</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>
                    <div class="ui-mvcMembership-password">

                        <div class="ui-mvcMembership-userUnlockBox">
                            <p>@Html.ResourceTexts().ResourceTextsUserAdmin.LockedOutSince <label class="ui-model-lastLockOutDate"></label></p>
                            <button class="ui-mvcMembership-userUnlock" type="button" >Unlock Account</button>
                        </div>

                        <div class="ui-mvcMembership-userUnlockedBox">
                                <ul class="ui-mvcMembership-password-lastChanged">
                                    <li>
                                        <div class="ui-field-name">@Html.ResourceTexts().ResourceTextsUserAdmin.LastChanged:</div>
                                        <em>
                                            <label class="ui-model-lastChanged">@Html.ResourceTexts().ResourceTextsUserAdmin.Never</label>
                                        </em>
                                    </li>
                                </ul>
                                <div class="ui-mvcMembership-canResetPassword">
                                    <ul class="ui-mvcMembership-password-changeWidthQuestion">
                                        <li>
                                            <div class="ui-field-name">
                                                <label>@Html.ResourceTexts().ResourceTextsUserAdmin.PasswordQuestion:</label>
                                            </div>
                                            <label class="ui-model-PasswordQuestion">@Html.ResourceTexts().ResourceTextsUserAdmin.NoPasswordQuestionDefined</label>
                                        </li>
                                        <li>
                                            <div class="ui-field-name">
                                                <label for="answer">@Html.ResourceTexts().ResourceTextsUserAdmin.PasswordAnswer:</label>
                                            </div>
                                            <input type="text" class="ui-model-answer" />
                                        </li>
                                        <li class="ui-mvcMembership-password-changeButtons">
                                            <button type="button" class="ui-mvcMembership-UserResetPasswordWithAnswer">
                                                @Html.ResourceTexts().ResourceTextsUserAdmin.ResetRandomPasswordEmailUser
                                            </button>
                                        </li>
                                    </ul>
                                    <ul class="ui-mvcMembership-password-change">
                                        <li>
                                            <div class="ui-field-name"><label>@Html.ResourceTexts().ResourceTextsUserAdmin.OldPassword:</label></div>
                                            <input type="password" class="ui-model-oldPassword" />
                                        </li>
                                        <li>
                                            <div class="ui-field-name"><label>@Html.ResourceTexts().ResourceTextsUserAdmin.NewPassword:</label></div>
                                            <input type="password" class="ui-model-password" />
                                        </li>
                                        <li>
                                            <div class="ui-field-name"><label for="passwordConfirm">@Html.ResourceTexts().ResourceTextsUserAdmin.Confirm:</label></div>
                                            <input type="password" class="ui-model-passwordConfirm" />
                                        </li>
                                        <li class="ui-mvcMembership-password-changeButtons">
                                            <button type="button" class="ui-mvcMembership-setPassword">
                                                @Html.ResourceTexts().ResourceTextsUserAdmin.ChangePassword
                                            </button>
                                            <button type="button" class="ui-mvcMembership-ResetPassword">
                                                @Html.ResourceTexts().ResourceTextsUserAdmin.ResetRandomPasswordEmailUser
                                            </button>
                                        </li>
                                    </ul>
                                </div>
                        </div>

                    </div>
                </td>
            </tr>
        </tbody>
    </table>
*@