@using $customNamespace$.UI.Web.Common.Mvc.Html;
@model $customNamespace$.UI.Web.Areas.UserAccount.Models.CantAccessYourAccountViewModel
@{Layout = "~/Views/Shared/_LayOut.cshtml";}

@section ScriptsToAdd
{

}
@section InlineStyles{

}

@if (this.Model.Result == null || !this.Model.Result.IsValid)
{
    using (MvcForm form = Html.BeginWidgetForm())
    {
        using (MvcWidgetBox divBox = Html.BeginWidgetBox())
        {
            using (MvcWidgetBox divBoxHeader = Html.BeginWidgetBoxHeader())
            { 
                    @Model.BaseViewModelInfo.Title
            }
            using (MvcWidgetBox divBoxContent = Html.BeginWidgetBoxContent())
            {
            <text>
                <br />
                <p>
                    @$customNamespace$.Resources.Account.AccountResources.ToResetYourPassword
                </p>
                <br />
                @Html.FormItem(model => model.EmailAddress)
                
                @using(MvcWidgetButtonsBox buttonsBox = Html.BeginWidgetButtonsBox())
                {
                    @Html.Button($customNamespace$.Resources.Account.AccountResources.Send,
                                            jQueryHelpers.Icon.ui_icon_search,
                                            ButtonType.Submit)
                }
                @if (!this.ViewData.ModelState.IsValid)
                {
                    <br />
                    @Html.ValidationSummaryCustomized()
                }
            </text>
            }
            }
        }
}
else
{ 
    <text>
    <div class="ui-changedSuccess">
        <h2>@this.Model.BaseViewModelInfo.Title</h2>
        <br />
        <h3>@$customNamespace$.Resources.Account.AccountResources.CantAccessYourAccount_EmailSent</h3>
    </div>
    </text>
}
