@using $customNamespace$.UI.Web.Common.Mvc.Html;
@using $customNamespace$.UI.Web.Areas.UserAccount;
@using $customNamespace$.UI.Web.Areas.Error;
@using $customNamespace$.Models.Enumerations;

@model $customNamespace$.UI.Web.Models.baseViewModel

<!DOCTYPE html>
<html>
    <head>
        <title>@this.Model.BaseViewModelInfo.Title</title>
        @Html.PartialResourcesStylesheetsCommonRender()
        @RenderSection(HtmlHelperExtensions.SectionInlineStyles, true)
    </head>
    <body class="ui-widget-content">
        <div class="ui-sitePage ui-widget">
            <div class="ui-site-userOptions" data-widget="userOptions" data-widget-url="@Url.Account_UserAccountBar()">
                <div class="ui-site-header ui-widget-header ui-widget-content ui-corner-all"></div>
            </div>
            <div class="ui-carriageReturn"></div>
            @Html.PartialMenuTopNav()
            <div class="ui-site-title">
                <h1>@this.Model.BaseViewModelInfo.Title</h1>
            </div>
            @Html.PartialBreadcrumb()
            <div class="ui-siteContent ">
                <div class="ui-siteContent-Container ">
                    @RenderBody()
                </div>
            </div>
            <div class="ui-siteFooter">
                <div class="ui-widget-header ui-corner-all">
                    <div>Copyright © 2012 Company Co. All rights reserved</div>
                    <div class="ui-siteFooter-html5Logo"></div>
                </div>
            </div>
            <br />
        </div>
        @Html.PartialResourcesScriptsCommonRender()
        @RenderSection(HtmlHelperExtensions.SectionScriptsToAdd, true)
        <script type="text/javascript">
            (function ($) {
                jQuery(document).ready(function () {
                    $customNamespace$.Widgets.Page.selector = "body";
                    $customNamespace$.Widgets.Page.cultureSelected = '@this.Model.BaseViewModelInfo.LocalizationResources.Culture';
                    $customNamespace$.Widgets.Page.cultureGlobalization = "@this.Model.BaseViewModelInfo.LocalizationResources.CultureGlobalization";
                    $customNamespace$.Widgets.Page.cultureDatePicker = "@this.Model.BaseViewModelInfo.LocalizationResources.CultureDatePicker";
                    $customNamespace$.Widgets.Page.defaultTheme = "@this.Model.BaseViewModelInfo.UserProfile.Theme.Value";
                    $customNamespace$.Widgets.Page.Init();
                });
            })(jQuery);
        </script>
    </body>
</html>
