@using $customNamespace$.UI.Web.Common.Mvc.Html;

@model $customNamespace$.UI.Web.Models.baseViewModel

<!DOCTYPE html>
<html>
    <head>
        <title>@this.Model.BaseViewModelInfo.Title</title>
        @Html.PartialResourcesStylesheetsCommonRender()
        @RenderSection(HtmlHelperExtensions.SectionInlineStyles, true)
    </head>
    <body class="ui-widget-content ui-hidden">
        <div class="ui-sitePage ui-widget">

            @Html.PartialMenuTopNav()

            @Html.PartialBreadcrumb()
            
            <div class="ui-siteContent">
                
                @Html.MenuGet().Render(new { id = "panelMenu", @class = "ui-menuNav ui-menuNav-Expand" })
                
                <div id="panelContent" class="ui-siteContent-Container ui-siteContent-Container-Collapse">
                    <div class="ui-site-title">
                        <h1>Jordi Vila - @this.Model.BaseViewModelInfo.Title</h1>
                    </div>
                    @RenderBody()
                </div>
            </div>

            <div class="ui-siteFooter">
                <div class="ui-widget-header ui-corner-all">
                    <div>Copyright © 2012 Company Co. All rights reserved</div>
                    <div class="ui-siteFooter-html5Logo"></div>
                </div>
            </div>

            <br />
        </div>
        @Html.PartialResourcesScriptsCommonRender()
        @RenderSection(HtmlHelperExtensions.SectionScriptsToAdd, true)
        <script type="text/javascript">
            (function ($) {
                jQuery(document).ready(function () {
                    $customNamespace$.Widgets.Page.selector = "body";
                    $customNamespace$.Widgets.Page.cultureSelected = '@this.Model.BaseViewModelInfo.LocalizationResources.Culture';
                    $customNamespace$.Widgets.Page.cultureGlobalization = "@this.Model.BaseViewModelInfo.LocalizationResources.CultureGlobalization";
                    $customNamespace$.Widgets.Page.cultureDatePicker = "@this.Model.BaseViewModelInfo.LocalizationResources.CultureDatePicker";
                    $customNamespace$.Widgets.Page.defaultTheme = "@this.Model.BaseViewModelInfo.UserProfile.Theme.Value";
                    $customNamespace$.Widgets.Page.onInit(function () { afterEverythingLoads(); });
                    $customNamespace$.Widgets.Page.Init();
                });

            })(jQuery);

            function afterEverythingLoads() {

                jQuery('body').removeClass('ui-hidden');

                var $panelMenu = jQuery('#panelMenu');
                var $panelContent = jQuery('#panelContent');

                $panelMenu.treeList();
                //$panelMenu.menu();


                jQuery('#menuToggle').click(function () {

                    $panelMenu.show('slide', function () {
                        if (jQuery(this).is(':visible')) {

                            jQuery(document).bind("click", function (e) {

                                var menuClicked = jQuery(e.target).parents($panelMenu.selector).length > 0;

                                if (!menuClicked)
                                {
                                    $panelMenu.hide('slide');
                                    jQuery(document).unbind("click");
                                }
                                
                            });
                        }
                    });
                });
            }

        </script>
    </body>
</html>