@using $customNamespace$.UI.Web.Common.Mvc.Html;
@using System.Globalization;
@using $customNamespace$.Models.Enumerations;
@using $customNamespace$.Models.Globalization;

@model   $customNamespace$.UI.Web.Models.baseViewModel

@{
    List<CultureInfo> culturesAvailable = GlobalizationHelper.CultureInfoAvailableList();
    List<SelectListItem> themesAvailable = this.Model.BaseViewModelInfo.UserProfile.Theme.ToSelectList(typeof(ThemesAvailable)).ToList();
    }

    <div class="ui-sitePreferences-Info-Switchers">
        <div class="ui-siteMenu ui-cultureSwitcher" data-widget="menuCultures" data-widget-cultureSelected="@this.Model.BaseViewModelInfo.LocalizationResources.Culture">
            <ul>
                @{
                    foreach (CultureInfo cultureAvailable in culturesAvailable)
                    {
                        <text>
                            <li>
                                <div></div>
                                <div class="ui-flag ui-flag-@cultureAvailable.Name" title="@cultureAvailable.DisplayName" data-widget-value="@cultureAvailable.Name" ></div>
                                <span class="value">@cultureAvailable.DisplayName</span>
                            </li>
                        </text>
                    }
                }
            </ul>
            <div class="ui-carriageReturn"></div>
        </div>        

        <div class="ui-siteMenu ui-themeSwitcher" data-widget="menuThemes" data-widget-defaultTheme="@this.Model.BaseViewModelInfo.UserProfile.Theme.ToString()">
            <ul>
            @{
                foreach (SelectListItem item in themesAvailable)
                {
                    if (this.Model.BaseViewModelInfo.UserProfile.Theme.Value.ToString() == item.Value.ToString())
                    {
                        item.Selected = true;
                    }
                        <text>
                            <li class='ui-corner-all @(item.Selected ? "ui-state-active" : string.Empty) ' data-widget-value='@item.Value'><span>@item.Text</span></li>
                        </text>
                    }
                }
            </ul>
            <div class="ui-carriageReturn"></div>
        </div>
        <div class="ui-carriageReturn"></div>
    </div>