@using $customNamespace$.UI.Web.Common.Mvc.Html;
@using $customNamespace$.Models.Enumerations;
@model $customNamespace$.UI.Web.Areas.Test.Models.TestViewModel



<div id="ui-mvcMembership-register-errorSummary"></div>
<div id="ui-mvcMembership-register-errorAdvise"></div>

@{
    using (MvcForm form = Html.BeginWidgetForm(new { @id = "formWidgetFormItems", name = "formWidgetFormItems" }))
    {
        using(MvcWidgetBox box = Html.BeginWidgetBox(false, true, true, string.Empty, null))
        {
            using(MvcWidgetBoxHeader header = Html.BeginWidgetBoxHeader())
            {
                <text>Demo Form Item UI Controls</text>
            }
            
            using(MvcWidgetBoxContent content = Html.BeginWidgetBoxContent())
            {
                @Html.FormItem(x=>x.SomeDate)
                @Html.FormItem(x => x.SomeDouble)
                @Html.FormItem(x => x.SomeBoolean)
                @Html.FormItem(x => x.SomeBooleanNullable)
                @Html.FormItem(x=> x.SomeStringArray,
                                    Html.CheckBoxMultiple(x => x.SomeStringArray, ((Enum)$customNamespace$.Models.Enumerations.SiteRoles.Administrator).ToSelectList(typeof($customNamespace$.Models.Enumerations.SiteRoles))),
                                    string.Empty)
    
                @Html.FormItem(x => x.SomeStringArrayII,
                                    Html.DropDownListFor(x => x.SomeStringArrayII, ((Enum)$customNamespace$.Models.Enumerations.SiteRoles.Administrator).ToSelectList(typeof($customNamespace$.Models.Enumerations.SiteRoles))),
                                    string.Empty)
            
                @Html.FormItem(x => x.SomeStringArrayII,
                                    Html.RadioButtonFor(x => x.SomeStringArrayIII, ((Enum)$customNamespace$.Models.Enumerations.SiteRoles.Administrator).ToSelectList(typeof($customNamespace$.Models.Enumerations.SiteRoles)), Position.Horizontal),
                                    string.Empty)

                using (MvcWidgetButtonsBox buttons = Html.BeginWidgetButtonsBox())
                {
                    @Html.Button($customNamespace$.Resources.Javascript.JavascriptTexts.accept, jQueryHelpers.Icon.ui_icon_alert, ButtonType.Submit, null)
                    @Html.Button($customNamespace$.Resources.Javascript.JavascriptTexts.validate, jQueryHelpers.Icon.ui_icon_alert, ButtonType.Button, null)
                }
    
            }

        }
    }
}